@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$color-black:#1a1a1a;
$color-orange:#cdb30c;
$color-BG-gray:#f4f5f9;
$color-bg-progress:#e6e6e6;
$color-text-black:rgba(0, 0, 0, 0.8);
$color-bg-black-projects-S:#232429;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-size-large: 27px;
$font-size-Xlarge: 34px;
$font-size-Xsmale: 13px;
$font-size-medium: 18px;

#subscribe{
    font-family: 'Roboto Condensed', sans-serif !important;
    .subscribe-container{
        background: url(../img/counter.webp) center no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
        border-radius: 6px;
        overflow: hidden;
        top: 7.5rem;
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: '';
            background-color: #cdb30c;
            opacity: .8;
            z-index: -1;
        }
        .heading-title{
            h5{
                color: #fffffff0;
                font-size: 20px;
                font-weight: $font-weight-700;
            }
            p{
                color: rgba(255, 255, 255, 0.8);
                font-weight: $font-weight-500;
                font-size: 18px;
            }
        }
        .body-input{
            
            form{
                input[type=text]{
                    width: 100%;
                    height: 100%;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-radius: 5px 0 0 5px !important;
                    box-shadow: none !important;
                    border: none !important;
                    &::placeholder{
                        color: rgb(175, 175, 175) !important;
                        font-weight: $font-weight-500;
                        font-size: 17px;
                    }   
                }
            }
            button{
                width: 6.5rem;
                height: 100%;
                background-color: #9d8909;
                color: rgba(255, 255, 255, 0.801);
                font-size: $font-size-medium;
                font-weight: $font-weight-500;
                border: none;
                border-radius: 0 5px 5px 0 !important;
                &:focus{
                    border: none;
                    box-shadow: none;
                }
                &:hover{
                    background-color: #9d8909c9;
                }
            }
        }
    }
}